<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Student Enrollment System</h1>
    <table id="all-students">
        <tr>
            <th>SNo</th>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('student_details', student_id=student.student_id) }}">{{ student.roll_number }}</a></td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>
                <a href="{{ url_for('update_student', student_id=student.student_id) }}">Update</a>
                <a href="{{ url_for('delete_student', student_id=student.student_id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('create_student') }}">Add Student</a>
</body>
</html>
